<!-- <!DOCTYPE html> -->
<html lang="en">
<head>
    <!-- <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
    

    <title>Confirmation</title>
<link rel="stylesheet" href="template-CSS.css">
</head>
<body>
        <div>  <h1>Codefoster's Orientation</h1>  </div>
    <div class="row">
    
        
    <div class="content">
        
        <div>  <h5>September 11, 2019 // 06:00PM - 08:00PM</h5>  </div>
        <div>  <h5>Golden Jublee Hall</h5>  </div>
        <div>  <h5>Shri G S Institute of Technology and Science,Indore</h5>  </div>
        <br>
        <div>  <h5>Guest: {name}</h5>  </div>
        <div>  <h5>Reserved date by {name} </h5>       </div>
    </div>
    <div class="reg">
            <h5>Registration 1 of 1</h5>
        </div>
    </div>
    <div><img src="{filename}" class="image"></div>
</div>
<div class="hrt">
    <hr>
    </div>
<br>
<div class="rest">
        <h5>codefostergs.github.io</h5>
    </div>

</body>
</html>